#imagen{
  border: 15px solid ;
  height: 250px;
  border-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTFxsnbPsW1ffdO1n9c6gfaiQNzfnN9gf2AIQ&usqp=CAU) 30 round;
}

.card{
  box-shadow: 2px 2px 5px #999;
}

#info-rest{
  display: none;
}

.contenedor-img{
  color: rgb(10, 10, 10) ;
  opacity: 0.8;
}
/* img:hover + #info-rest{
  display: block;
} */

.contenedor-img:hover{
  zoom: 1.2;
  margin-top: -15px;
  opacity: 1;
}